@using Entities.Concrete
@model List<Employee>
@{
    ViewData["Title"] = "Employees Page";
}
<link href="/assets/advanced-datatable/media/css/demo_page.css" rel="stylesheet" />
<link href="/assets/advanced-datatable/media/css/demo_table.css" rel="stylesheet" />
<link rel="stylesheet" href="/assets/data-tables/DT_bootstrap.css" />
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Employees List
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down"></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                </span>
                <div class="row" style="margin-top: 15px; margin-left:10px; margin-bottom:10px;">
                    <a asp-area="Admin" asp-controller="Employees" asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i> Add Employee</a>
                </div>
            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <table class="display table table-bordered table-striped" id="dynamic-table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Company</th>
                                <th>Tasks</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                foreach (var employee in Model)
                                {
                                    <tr class="gradeX">
                                        <td>@employee.Id</td>
                                        <td>@employee.Name</td>
                                        <td>@employee.Surname</td>
                                        <td>@employee.Company.Name</td>
                                        <td><a asp-area="Admin" asp-controller="Employees" asp-action="TasksList" asp-route-id="@employee.Id" data-toggle="tooltip" title="Tasks List" class="btn btn-primary btn-xs"><i class="fa fa-list-check"></i></a></td>
                                        <td><a asp-area="Admin" asp-controller="Employees" asp-action="Edit" asp-route-id="@employee.Id" data-toggle="tooltip" title="Edit" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a></td>
                                        <td>
                                            <form asp-area="Admin" asp-controller="Employees" asp-action="Delete" asp-route-id="@employee.Id" method="post">
                                                <span id="confirmDeleteSpan_@employee.Id" style="display: none">
                                                    <button type="submit" data-toggle="tooltip" title="Submit" class="btn btn-danger btn-xs" style="border: transparent;"> <span><i style="color: white" class="fa fa-check"></i></span></button>
                                                    <a onclick="confirmDelete('@employee.Id', false)" data-toggle="tooltip" title="Cancel" class="btn btn-success btn-xs "> <span><i style="color: white" class="fa fa-times"></i></span> </a>
                                                </span>
                                                <span id="deleteSpan_@employee.Id">
                                                    <a onclick="confirmDelete('@employee.Id', true)" data-toggle="tooltip" title="Delete" class="btn btn-danger btn-xs"> <span><i class="fa fa-trash"></i></span></a>
                                                </span>
                                            </form>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
@section Scripts
    {
    <script type="text/javascript" language="javascript" src="/assets/advanced-datatable/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/assets/data-tables/DT_bootstrap.js"></script>
    <script src="/js/dynamic_table_init.js"></script>
    <script src="/js/confirm-delete.js"></script>
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}
